<div class="container" role="main">

    <h3>Convertr Code Test</h3>
    <hr>
    <br>
    <span>
        <p>This test is a chance for you to impress us with your coding ability and how you approach a blank canvas.
            You will get a chance to explain your code at the end and tell us why you have done it in this way.
            In our database we have Advertisers (essentially an organisation) and addresses, each Advertiser must
            have one address. We've created a mock API endpoint for you to use for the purposes of this test.</p>
        <br>
        <ul>
            <li>
                <a href="https://arkham.cvtr.io/test/api/" target="_blank">Base URL</a>
            </li>
            <li>
                <a href="https://documenter.getpostman.com/view/4264271/front-end-code-test-api/RW1bozRr?version=latest"
                    target="_blank">Docs</a>
            </li>
        </ul>
    </span>
    <br>

    <h3>Tasks</h3>
    <hr>
    <br>
    <span>
        <ul>
            <li>Create a small app which would fetch Advertisers from <a
                    href="https://arkham.cvtr.io/test/api/advertisers" target="_blank">API Endpoint</a> and show a table
                of Name,
                Organisation Url, Telephone, Address and Postcode (you can get the advertiser's address from the
                addresses endpoint)
            </li>
            <li>
                Create a form in modal to add new Advertiser with address (we've given you the POST endpoint, but
                be aware that this is a mocked end point, therefore the record won't actually be added).
            </li>
            <li>
                Please add notes to a readme file for anything that is useful for us to be aware of
            </li>
        </ul>
    </span>
    <br>

    <h3>Things to remember</h3>
    <hr>
    <br>
    <span>
        <ul>
            <li>
                We're looking at how you utilise the Angular framework (please use the latest version).
            </li>
            <li>
                How you use best and modern coding practises.
            </li>
            <li>
                How you structure and future proof your code
            </li>
        </ul>
    </span>

    <h3>Nice to have</h3>
    <hr>
    <br>
    <span>
        <ul>
            <li>
                Tests
            </li>
            <li>
                Validation
            </li>
            <li>
                State management
            </li>
        </ul>
    </span>

</div>