<div class="container">
    <h3>Create Advertiser</h3>
    <hr>

    <br><br>

    <form [formGroup]="createAdvertiserForm" novalidate class="needs-validation" (ngSubmit)="createAdvertiser()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Organisation Name</label>

                <input type="text" class="form-control" [ngClass]="createAdvertiserForm.controls['name'].touched && 
                            (createAdvertiserForm.controls['name'].hasError('required') || 
                            createAdvertiserForm.controls['name'].hasError('minlength')) ? 
                            'is-invalid' : ''" placeholder="Organisation Name" formControlName="name">

                <div *ngIf="createAdvertiserForm.controls['name'].touched && 
                        createAdvertiserForm.controls['name'].hasError('required')" class="invalid-feedback">
                    Name is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['name'].touched && 
                        createAdvertiserForm.controls['name'].hasError('minlength')" class="invalid-feedback">
                    Name minimum length is two(2)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="orgurl">Organization URL</label>

                <input type="url" [ngClass]="createAdvertiserForm.controls['orgurl'].touched && 
                            (createAdvertiserForm.controls['orgurl'].hasError('required') || 
                            createAdvertiserForm.controls['orgurl'].hasError('pattern')) ? 
                            'is-invalid' : ''" class="form-control" id="orgurl" placeholder="Organisation URL"
                    formControlName="orgurl">

                <div *ngIf="createAdvertiserForm.controls['orgurl'].touched && 
                        createAdvertiserForm.controls['orgurl'].hasError('required')" class="invalid-feedback">
                    Organisation URL is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['orgurl'].touched && 
                        createAdvertiserForm.controls['orgurl'].hasError('pattern')" class="invalid-feedback">
                    Organisation URL is not valid.
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" [ngClass]="createAdvertiserForm.controls['firstName'].touched && 
                            (createAdvertiserForm.controls['firstName'].hasError('required') || 
                            createAdvertiserForm.controls['firstName'].hasError('minlength')) ? 
                            'is-invalid' : ''" class="form-control" id="firstName" placeholder="First Name"
                    formControlName="firstName">

                <div *ngIf="createAdvertiserForm.controls['firstName'].touched && 
                        createAdvertiserForm.controls['firstName'].hasError('required')" class="invalid-feedback">
                    First name is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['firstName'].touched && 
                        createAdvertiserForm.controls['firstName'].hasError('minlength')" class="invalid-feedback">
                    First name minimum length is two(2).
                </div>

            </div>

            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" [ngClass]="createAdvertiserForm.controls['lastName'].touched && 
                            (createAdvertiserForm.controls['lastName'].hasError('required') || 
                            createAdvertiserForm.controls['lastName'].hasError('minlength')) ? 
                            'is-invalid' : ''" class="form-control" id="lastName" placeholder="Last Name"
                    formControlName="lastName">

                <div *ngIf="createAdvertiserForm.controls['lastName'].touched && 
                        createAdvertiserForm.controls['lastName'].hasError('required')" class="invalid-feedback">
                    Last name is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['lastName'].touched && 
                        createAdvertiserForm.controls['lastName'].hasError('minlength')" class="invalid-feedback">
                    Last name minimum length is two(2).
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" [ngClass]="createAdvertiserForm.controls['email'].touched && 
                                    (createAdvertiserForm.controls['email'].hasError('required') || 
                                    createAdvertiserForm.controls['email'].hasError('email')) ? 
                                    'is-invalid' : ''" class="form-control" id="email" placeholder="Email"
                    formControlName="email">

                <div *ngIf="createAdvertiserForm.controls['email'].touched && 
                                createAdvertiserForm.controls['email'].hasError('required')" class="invalid-feedback">
                    Email is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['email'].touched && 
                                createAdvertiserForm.controls['email'].hasError('email')" class="invalid-feedback">
                    Email is not valid.
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="telephone">Telephone</label>

                <input type="tel" [ngClass]="createAdvertiserForm.controls['telephone'].touched && 
                                    (createAdvertiserForm.controls['telephone'].hasError('required') || 
                                    createAdvertiserForm.controls['telephone'].hasError('pattern')) ? 
                                    'is-invalid' : ''" class="form-control" id="telephone" formControlName="telephone">

                <div *ngIf="createAdvertiserForm.controls['telephone'].touched && 
                        createAdvertiserForm.controls['telephone'].hasError('required')" class="invalid-feedback">
                    Telephone number is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['telephone'].touched && 
                        createAdvertiserForm.controls['telephone'].hasError('pattern')" class="invalid-feedback">
                    Telephone number is not valid.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" [ngClass]="createAdvertiserForm.controls['address'].touched && 
                            (createAdvertiserForm.controls['address'].hasError('required') || 
                            createAdvertiserForm.controls['address'].hasError('maxlength')) ? 
                            'is-invalid' : ''" class="form-control" id="address" placeholder="1234 Main St"
                formControlName="address">

            <div *ngIf="createAdvertiserForm.controls['address'].touched && 
                        createAdvertiserForm.controls['address'].hasError('required')" class="invalid-feedback">
                Address is mandatory.
            </div>

            <div *ngIf="createAdvertiserForm.controls['address'].touched && 
                        createAdvertiserForm.controls['address'].hasError('maxlength')" class="invalid-feedback">
                Maximum length is Two fifty (250).
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City</label>

                <input type="text" [ngClass]="createAdvertiserForm.controls['city'].touched && 
                (createAdvertiserForm.controls['city'].hasError('required') || 
                createAdvertiserForm.controls['city'].hasError('minlength')) ? 
                'is-invalid' : ''" class="form-control" id="city" formControlName="city">

                <div *ngIf="createAdvertiserForm.controls['city'].touched && 
                        createAdvertiserForm.controls['city'].hasError('required')" class="invalid-feedback">
                    City is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['city'].touched && 
                        createAdvertiserForm.controls['city'].hasError('minlength')" class="invalid-feedback">
                    City minimum length is two(2).
                </div>

            </div>

            <div class="form-group col-md-6">
                <label for="postcode">Postcode</label>
                <input type="text" [ngClass]="createAdvertiserForm.controls['postcode'].touched && 
                (createAdvertiserForm.controls['postcode'].hasError('required') || 
                createAdvertiserForm.controls['postcode'].hasError('pattern')) ? 
                'is-invalid' : ''" class="form-control" id="Postcode" formControlName="postcode">

                <div *ngIf="createAdvertiserForm.controls['postcode'].touched && 
                        createAdvertiserForm.controls['postcode'].hasError('required')" class="invalid-feedback">
                    Postcode is mandatory.
                </div>

                <div *ngIf="createAdvertiserForm.controls['postcode'].touched && 
                        createAdvertiserForm.controls['postcode'].hasError('pattern')" class="invalid-feedback">
                    Postcode is not valid.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-right">
                <button type="button" class="btn btn-primary" (click)="createAdvertiser()"
                    [disabled]="!createAdvertiserForm.valid">CREATE</button>
            </div>
        </div>
    </form>
</div> 